nav {
  width: 100%;
  font-size: 3rem;
  color:#00ffff;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.69);
  height: auto;
  font-family: 'Anton', sans-serif;
}

a {
  font-family: 'Faster One', cursive;
  color:#ff00df;
  font-size: 4rem;
  text-shadow: 8px 8px 8px rgb(3, 0, 0); 
}

a:hover {
  font-family: 'Faster One', cursive;
  color: #a900ff;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 26px 0;
  width: 25%;
  /* text-align: center; */
}

ul {
  /* padding-left: 0px; */
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  #cur-sco, #top-sco {
    font-size: 2rem;
  }
}